@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Exo+2&family=Lato:ital@0;1&family=Open+Sans:wght@300&family=Raleway&family=Space+Grotesk:wght@500&family=Ubuntu+Mono&family=Ubuntu:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.text h2 {
  color: rgb(135, 206, 250);
  font-family: "Ubuntu Mono", monospace;
  font-size: 2.5vw;
  padding-bottom: 1vw;
}
.text h1 {
  color: rgb(30, 144, 255);
  font-family: "Chivo Mono", monospace;
  padding-bottom: 0.5vw;
  font-size: 3.4vw;
  background: linear-gradient(#1497be, #1c2aec);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: text 5s linear infinite;
}

@keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(100deg);
  }
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20vw;
  z-index: 5;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.4375rem;
  line-height: 40px;
  color: rgb(184, 228, 255);
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 30px;
}
.content__container:before {
  content: "[";
  left: 0;
  padding-left: 35px;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
  padding-right: 38px;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: rgb(0, 127, 254);
  font-size: 30px;
  line-height: 36px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
  margin: 0;
  margin-left: 30px;
  padding-left: 15px;
}
.content__container__list {
  margin-top: 0;
  padding-left: 70px;
  text-align: center;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
.buttons button {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  border: #1720a0;
  border-radius: 15px;
  background: #282b34;
  padding: 8px 20px 10px 20px;
  color: #baebf8;
}

.Profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-75%, -50%);
  padding-top: 550px;
}

.img_profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.text_aboutme {
  color: rgb(190, 224, 247);
  width: 50vw;
  text-align: justify;
  font-family: "Exo 2", sans-serif;
  padding-left: 4vw;
}
.text_aboutme h2 {
  font-size: 1.1em;
  color: rgb(86, 156, 222);
  position: relative;
  left: 1vw;
  letter-spacing: 1px;
}
.text_aboutme h1 {
  color: rgb(15, 128, 227);
  letter-spacing: 1.5px;
  padding-top: 1vh;
  padding-bottom: 2vh;
}
.text_aboutme h1::before {
  content: "";
  position: absolute;
  top: 107vh; /* Alinear el pseudo-elemento en la parte inferior del elemento padre */
  left: 38vw;
  width: 6%;
  border-bottom: 3px solid rgb(65, 152, 229);
}
.text_aboutme p {
  color: rgb(142, 200, 252);
}

.social_media {
  display: flex;
  width: 20vw;
  position: relative;
  left: 45%;
  top: 35vw;
  gap: 2vw;
  z-index: 3;
}
.social_media a {
  text-decoration: none;
}

.container_tools {
  width: 80%;
  display: flex;
  position: relative;
  justify-content: center;
  top: 164vh;
  gap: 3%;
  padding-bottom: 8vh;
  padding-top: 2vh;
  margin-left: 15vw;
}
.container_tools .tools {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container_tools .tools1 {
  display: flex;
  text-align: center;
  padding-top: 30px;
  gap: 10px;
}
.container_tools .tools1 button {
  background-color: #0717fa;
  border: none;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 15px;
  background: #282b34;
  padding: 8px 20px 10px 20px;
  color: #baebf8;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: rgb(143, 197, 244);
  z-index: 5;
}
.sticky-footer .footer_social_media {
  display: flex;
  gap: 30px;
  margin-left: 5%;
}
.sticky-footer .footer_social_media p {
  padding-top: 7px;
}
.sticky-footer .footer_social_media a {
  text-decoration: none;
  outline: none;
}
.sticky-footer .footer_social_media a:visited {
  color: rgb(4, 128, 237);
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.tittle_tools {
  color: rgb(15, 128, 227);
  display: flex;
  justify-content: center;
  position: relative;
  top: 162vh;
  margin-left: 8vw;
}

.proyectos_artes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 8vw;
  top: 160vh;
  position: relative;
}
.proyectos_artes h2 {
  color: rgb(85, 151, 210);
}
.proyectos_artes h1 {
  color: rgb(15, 128, 227);
}
.proyectos_artes h1::before {
  content: "";
  position: absolute;
  top: 13vh; /* Alinear el pseudo-elemento en la parte inferior del elemento padre */
  left: 39vw;
  width: 15%;
  border-bottom: 3px solid rgb(65, 152, 229);
}
.proyectos_artes .video {
  z-index: 5;
  padding-bottom: 10vh;
  display: flex;
  padding-top: 5vh;
}
.proyectos_artes .video p {
  color: rgb(142, 200, 252);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  background: #282b34;
  border-radius: 15px;
  height: 41vh;
  width: 30vh;
  top: 7vh;
  position: relative;
  padding: 8px 20px 35px 20px;
}

.art_photo_text {
  position: relative;
  top: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: rgb(85, 151, 210);
}

.ig {
  display: flex;
  height: 300px;
  width: 100%;
  gap: 30px;
  justify-content: center;
  position: relative;
  top: 170vh;
  z-index: 5;
  margin-bottom: 200vh;
}
.ig .holi {
  padding-bottom: 30vh;
}
.ig img {
  border-radius: 10px;
}
.ig .ig_pick {
  width: 180px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .content {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .content {
    width: 100%;
  }
  .social_media {
    left: 38vw;
    width: 10%;
    top: 420px;
  }
  .Profile_container {
    flex-direction: column;
    top: 550px;
  }
  .img_profile {
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
  }
  .text_aboutme {
    font-size: 16px;
    width: auto;
    padding-right: 15px;
    top: 100px;
    margin-left: 5px;
    padding-left: 15px;
  }
  .text_aboutme h1::before {
    left: 40px;
    bottom: 425px;
    width: 15%;
  }
  .tittle_tools {
    top: 1150px;
  }
  .container_tools {
    flex-direction: column;
    left: 0;
    top: 1200px;
    gap: 30px;
  }
  .container_tools h1 {
    color: rgb(15, 128, 227);
    letter-spacing: 1.5px;
    justify-content: center;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5em;
  }
  .container_tools h2 {
    font-size: 15px;
    right: 10px;
    color: rgb(86, 156, 222);
    position: relative;
    left: 15px;
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    padding-right: 20px;
  }
  .container_tools .tools img {
    width: 100px;
    height: auto;
  }
  .container_tools .tools .tools1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .container_tools .tools .tools1 button {
    font-size: 15px;
  }
  .proyectos_artes {
    position: relative;
    top: 1200px;
  }
  .proyectos_artes h1::before {
    top: 15vh; /* Alinear el pseudo-elemento en la parte inferior del elemento padre */
    left: 29vw;
    width: 45%;
    border-bottom: 3px solid rgb(65, 152, 229);
  }
  .proyectos_artes .video {
    flex-direction: column;
    width: auto;
  }
  .proyectos_artes .video p {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .art_photo_text {
    top: 1250px;
  }
  .ig {
    top: 1850px;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    left: 150px;
    padding-bottom: 900px;
  }
}

/*# sourceMappingURL=styles.css.map */
